<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- GENERAL -->
    <category label="Général">
        <setting label="Mon Auvio (pas encore exploité par l'addon)" type="lsep" />
        <setting label="Adresse email" id="email" type="text"/>
        <setting label="Mot de passe" id="password" type="text" option="hidden"/>
        <setting label="Affichage" type="lsep" />
        <setting label="Médias par page" id="medias_per_page" type="labelenum"  default="25" values="10|25|50|100"/>
        <setting label="Téléchargement" type="lsep" />
        <setting label="Répertoire" id="download_folder"  type="folder"  source="auto" option="writeable"/>
    </category>
</settings>
